.container {
  max-width: 1000px;
  width: 100%;
}
.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  padding: 120px;
  padding-top: 60px;
  background-color: var(--container-color);
}
.main__title {
  font-size: 3rem;
  margin-bottom: 25px;
  font-weight: 500;
}
