.setting__dropdown {
  font-size: 1.4rem;
  border: 0;
  outline: none;
  appearance: none;
  background-image: url('../assets/select-arrow.svg');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  cursor: pointer;
}
