@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  font-size: 10px;
  
  --main-light-color: #fff;
  --main-dark-color: #2196F3;
  
  --active-route-bg: #1E88E5;
  --container-color: rgba(0, 0, 0, 0.05);

  --timer-color: rgba(0, 0, 0, 0.4);
  --instructions-color: rgba(0, 0, 0, 0.6);
  --field-label-color: rgba(0, 0, 0, 0.38);

  --border-color: #c4c4c4;

  --cover-bg: rgba(0, 0, 0, 0.5);
  --form-field-bg: rgba(33, 33, 33, 0.1);
  --validation-box-bg: #018786;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.block-screen {
  overflow: hidden;
}
